@use './general';

.comingsoon{
    position: relative;
    display: flex;
    flex-flow: column;

    .back-btn{
        position: absolute;
        top: -0.2rem;
        left: 0;
        display: inline;
        font-size: 2.5rem;
        font-weight: 600;
        margin: 0;
    }

    h2{
        display: inline;
        align-self: center;
        max-width: max-content;
    }
}